@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* google font css */

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* sidebar style start */
.sidebar-container {
  width: 16%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  position: fixed;
}
.sidebar {
  height: 100vh;
  width: 250px;
  color: white;
  padding: 50px;
  background-color: #fe6347;
}
.sidebar-header {
  font-size: 30px;
  margin-bottom: 30px;
}
.sidebar a {
  color: white;
  font-size: 20px;
}
.nav-link:hover {
  background-color: rgb(187 247 208);
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.sidebar li {
  margin-top: 20px;
  padding: 10px;
}
/* sidebar style end */

/* body section start  */
.body-container {
  margin-left: 17%;
}

.how-case-section h1 {
  color: red;
}
.showcase-hr {
  padding: 3px;
  width: 6%;
  background-color: #fe6249;
  border-radius: 5px;
}
.interior-section {
  padding: 20px;
}

/* showcase-room-design-start */
.room-galary-container {
  margin-top: 20px;
}
.rooms {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 7px;
}
.showcase img {
  height: 100%;
  width: 100%;
}

/* body section end  */

.show-case-section {
  margin-top: 30px;
}
.show-case-section h1 {
  font-size: 40px;
}

/* designer section start */
.design-card-container {
  margin-top: 10px;
}
.card {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.card-item {
  height: 450px;
  width: 100%;
  background-color: #ddd;
}
.card-item-image img {
  object-fit: cover;
  height: 60%;
  width: 100%;
}
.card-item-text {
  padding: 20px;
}
.card-item-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-item-text h5 {
  font: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
  }
}

/* designer section end */

/* package section start */

.package-container {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.package {
  flex-basis: 45%;
  text-align: center;
}
.package-title-1 {
  font-size: 20px;
  padding: 20px;
  background-color: #616161;
  color: white;
}

.package-title-2 {
  font-size: 20px;
  padding: 20px;
  background-color: #fe6347;
  color: white;
}

.package-offar {
  padding: 20px;
  background-color: #f1f1f1;
  font-size: 17px;
}

.minus {
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}
.plus {
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

.ProNumber {
  font-size: 30px;
  user-select: none;
}

.ProMinus {
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}
.ProPlus {
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

.number {
  font-size: 30px;
}

.add-btn {
  font-size: 25px;
  padding: 20px;
  border: transparent;
  cursor: pointer;
}
.signup-btn-1 {
  padding: 20px;
  border: 1px solid white;
  background-color: white;
  color: black;
  cursor: pointer;
}
.signup-btn {
  padding: 20px;
  border: 1px solid #fd6247;
  background-color: #fd6247;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .package-container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
  }
}

/* contact section start */
.contact-section {
  margin-top: 20px;
  margin-bottom: 50px;
}
.user-input input {
  padding: 10px;
  width: 100%;
}
.submit-button {
  padding: 10px;
  width: 100%;
  background-color: #fe6347;
  color: white;
  border: transparent;
}
/* contact section end */
